button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

.center-form {
  text-align: center;
}

.values {
  text-align: center;
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

.colorRed {
  color: red;
}

textarea:disabled {
  resize: none;
}

.selectionDiv {
  border: thick double #32a1ce;
  padding: 10px;
  overflow: auto;
}