<p>logs works!</p>
<section class="center-form">
    <strong>Valid Inputs</strong>: IPv4, IPv6, Server Token, Website Token, or IPv4:Port.
    <br/>
   <strong> Inputs are case-sensitive!</strong>
    <br/>
    <Strong>Examples:</Strong>
    <br/>
    <textarea rows="6" cols="60" disabled rea="none">

        Website Token == token_website_01pqowie92
        Server Token == token_server_01pqowie92
        IPv6 == 2001:db8:85a3::8a2e:370:7334
        IPv4 with Port == 127.0.0.1:3306
    </textarea>
</section>
<br/>
<div *ngIf="showError" class="colorRed center-form">
    <h3> {{errorMessage}} </h3>
</div>
<section>
    <form [formGroup]="form" class="center-form">
        <input type="text" placeholder="Filter by input of > 3 letters" name="value" formControlName="value">
        <button class="primary" type="button" (click)="SubmitSearch()">Search</button> | 
        <button class="primary" type="button" (click)="SubmitSearch()" [disabled]="!enhancedSearch">Enhanced Search</button>
    </form>
</section>
<section class="values">
    <div 
        *ngFor="let value of values">
        {{value}}
    </div>
</section>