<div *ngIf="login === false;">
    <form [formGroup]="form" class="form">
        <fieldset>
            <legend>Login</legend>
            <br />
            <p>
                Enter in Username, Email, Phone Number, or Account Identifier
            </p>
            <br />
            <div class="form-field">
                <label>Credential: </label>
                <input name="email" formControlName="email" autocomplete="username">
            </div>
            <div class="form-field">
                <label>Password: </label>
                <input name="password" formControlName="password" type="password" autocomplete="current-password">
            </div>
            <br />
            <div class="form-buttons">
                <button class="button button-primary" (click)="login_button()">Login</button> | 
                <button class="button" (click)="register_button()">Register</button>
            </div>
            <br />
        </fieldset>
    </form>
</div>