<br />
<p class="center">
    This page is to link a server or two to our website. <br />
    In your server after running the mod, you will see a console log with your token. <br />
    It looks like this, "token_server_" copy this and paste into the box below.
</p>
<br />
<section class="center">
    <!-- <form [formGroup]="form"> -->
    <form>
        <fieldset>
            <legend>Link server to website</legend>
            <br />
            <div class="form-field">
                <input type="text" name="token" formControlName="token" autocomplete="off">
            </div>
            <br />
            <button class="button button-primary">Submit</button>
            <br /><br />
        </fieldset>
    </form>
</section>