<h1>Reforger Manager</h1>
...

<nav>
  <a class="button"
     routerLink="/crisis-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Index
  </a> |
  <a class="button"
     routerLink="/logs"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Logs
  </a> |
  <a class="button"
     routerLink="/link"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Link Server
  </a>
  <a class="button login"
     routerLink="/login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Login
  </a>
</nav>


<router-outlet></router-outlet>